<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include tne_header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include tne_footer.html -%}

  </body>

  <head>
  <style>
      /*  Overwrite the site-header class   */
      .site-header {
          border-top: 0px solid #424242;
      }
      /* ---------------------------------- */
  </style>
  </head>

</html>
